body, html{
    padding: 0;
    margin: 0;
    background-color: #36363E;
}
.HomeImage{
    max-width: 1200px;
}
.container_home{
    display: flex;
    justify-content: center;
}
.home{
    margin-top: -5%;
    position: absolute;
}
.roof{
  position: absolute;
  z-index: 5;
  
}
.floor1{
    position: absolute;
}

#attic {
    display: flex;
    align-items: center;
    margin-top: -30%;
    margin-left: 16%;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #FF855D;
   z-index: 10;
   cursor: pointer;
}

.line {
    width: 420px;
    height: 2px;
    background-color: #FF855D;
    z-index: 10;
}

.circle_empty {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #36363E;
    border: 2px solid #FF855D;
    overflow: hidden;
    cursor: pointer;
    
}

#window {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 14%;
}

#window .line{
    width: 300px;
   
}

#wall {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 16%;
}

#wall .line{
    width: 440px;
   
}

#support {
    display: flex;
    align-items: center;
    margin-top: 7%;
    margin-left: 16%;
}

#support .line{
    width: 470px;
   
}

#foundation {
    display: flex;
    align-items: center;
    margin-top: 4%;
    margin-left: 13%;
}

#foundation .line{
    width: 340px;
   
}

#chimney {
    display: flex;
    align-items: center;
    margin-top: -37%;
    margin-left: 55%;
}

#chimney .line{
    width: 340px;
   
}
 #chimney .circle {
   
    background-color: #36363E;
    border: 2px solid #FF855D;
    overflow: hidden;
   z-index: 10;
}

 #chimney .circle_empty {

    background-color: #FF855D;
    z-index: 10;
}


#floor {
    display: flex;
    align-items: center;
    margin-top: 7%;
    margin-left: 68%;
}

#floor .line{
    width: 240px;
   
}
 #floor .circle {
   
    background-color: #36363E;
    border: 2px solid #FF855D;
    overflow: hidden;
   z-index: 10;
}

 #floor .circle_empty {

    background-color: #FF855D;
    z-index: 10;
}

#outerwall {
    display: flex;
    align-items: center;
    margin-top: 8%;
    margin-left: 73%;
}

#outerwall .line{
    width: 240px;
   
}
 #outerwall .circle {
   
    background-color: #36363E;
    border: 2px solid #FF855D;
    overflow: hidden;
   z-index: 10;
}

 #outerwall .circle_empty {

    background-color: #FF855D;
    z-index: 10;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    margin-top: 23%;

    

  }
  
  .price {
    font-size: 32px;
    margin-bottom: 20px;
    color: aliceblue;
  }
  
  .total-price {
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #36363E;
    border: 2px solid #FF855D;
    color: white;
    font-size: 18px;
    
   
  }
   button.circle_empty{

    cursor: pointer;

    
   }

   .roof img{
    width: 1400px;
   }
   .floor1 img{
    width: 1400px;
   }
   .foundation img{
    width: 1400px;
   }



   /* modalka */

   .plusi{
    margin-top: 20px;
   }
   .plusi h3{
    color: #53C541;
   }
   .clock_text{
    color: rgb(153, 153, 153);
   }
   .modal_main h1{
    font-size: 36px;
   }


  .modal{
    position: fixed;
    /* inset: 0; */
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 11;
    overflow-y: auto;
  }
  
  .modal_main{
    position: absolute;
    width: 380px;
    background-color: #39363E;
    height: 100%;
    cursor: default;
    z-index: 11;
  }
  
  .modal_btn:first-child{
    margin-top: 53px;
  }
  .modal_btn{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 333px;
    border-radius: 16px;
    padding: 10px;
    border: 3px solid #FF855D;
    height: 53px;
    margin-top: 25px; 
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .active{
    border-color: #53C541;
  }
  
  .modal_main:last-child{
    /* right: 0; */
    left: auto;
  
    width: 500px;
  
    color: white;
    
  }
  .modal_main:last-child h1{
    margin-top: 53px;
    text-align: center;
  }
  .modal_main:last-child p{
    font-size: 22px;
    margin-left: 22px;
  }
  
  .plusi{
    display: flex;
  }
  
  .plusi img{
    width: 37px;
    height: 39px;
    margin-left: 36px;
  }
  .plusi h3{
    margin-left: 26px;
    line-height: 5px;
    font-size: 22px;
  }
  
  .price{
    border: 3px solid #FF855D;
    border-radius: 20px;
    width: 420px;
    margin-left: 32px;
    text-align: center;
    height: 180px;
    margin-top: 315px;
  
  }
  
  .price h3{
    font-size: 36px;
  }
  
  .price button{
    margin: 0;
  }
  