.title{
    text-align: center;
    color: #FFF;
}
.maincalc{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    
}
.formcalc{
    width: 350px;
    height: 200px;
    border:2px solid #FF855D; 
    border-radius: 20px;
   
}
.home{
    position: static;
}
 #ran{
    width: 100%;
    margin-top: 5px;;
    accent-color: coral;
    
}

.formcalc label{
color: white;
}
.select{
    margin-top:30px ;
    border: 2px solid #FF855D;
    border-radius: 20px;
    width: 90%;
    background-color: #282c34;;
    height: 30px;
    text-align: center;
    color: #FFF;


}
.continue{
    border: 2px solid #FF855D;
    border-radius: 20px;
    margin-top: 30px;
    width: 40%;
    height: 30px;
    background-color: #282c34;;
    color: #FFF;
    transition: all 0.3s;

}
.continue:hover{
    color: #FFF;
    background-color: #FF855D;


}
.home_container .home{
    width: 600px;
    height: 400px;
}
.home_container{
    margin-top: -90px;
}
